
body {
    display: block;
    background-color: rgb(222, 205, 253);
    margin: 8px;
    padding: 100px 100px 100px 100px ;


}

.list {
    background-color: rgb(202, 190, 214);
    padding-top: 10em;
}


#mainHeading {
    display: block;
    width: 100%;
    background: radial-gradient(rgb(32, 3, 3), rgb(122, 34, 7));
    color: red;
    padding: 0px 10px;
    

}

    
    nav.horizontalNavigation li {
        display: inline;
        width: 100%;
        color: rgb(240, 11, 11);
        padding: 10px 10px;
        text-align: center;
        border: 10px groove rgb(209, 182, 182);
        margin: 60px;
        }
    
        li a:hover {
            background-color: rgb(235, 235, 235);
            color: rgb(224, 0, 0);
        }

        li a:visited, a:link {
            text-decoration: none;
            color: rgb(250, 8, 8);
        }

     
    
    .mainInfo {
        background: radial-gradient(rgb(213, 112, 226) rgb(24, 14, 26));
    }
    
    

#secondSection {
    background-color: rgba(219, 79, 137, 0.432);
   
}
#firtsSection {
    background-color: rgba(184, 172, 196, 0.432);
    
}
#thirdSection {
    background-color: rgba(47, 190, 201, 0.432);
    
}





video {
    width: 55%;
}


h1 {
    text-align: left;
    color: rgb(197, 24, 96);
    font-size: 3.5em;
}

ul {
    font-size: 50px;

}

h2 {
    text-align: center;
    font-size: 3em;
    color: purple;
}
.funParagraph {
    color: green;
    
}
p, ol {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 0.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
    text-align: left;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 0.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 60px;
    padding-left: 100px;
}

p:first-of-type::first-letter {
    float: center;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.1em;
    padding-right: 0.1em;
    padding-bottom: 0.1em;
}

.firstSection > img {
  
        width: 10%;
}
.secondSection  > img {

    width: 5px;
    
}


footer > p{
    background-color: rgba(150, 5, 61, 0.815);
    color: aliceblue;
    text-align: center;
    height: 3em;
    padding-top: 50px;
}

img {
	position: relative;

	width: 500px;
	border-radius: 100px;
	
	
	
}
/* Write your CSS here! */